{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<div class="container">
  <h3 style="margin-top: 10%; margin-bottom: 3%;color: white;margin-left: 14%;font-family: 'Times New Roman', Times, serif;">Sign In</h3>
  <div class="row">
    
    <!-- Empty div -->
    <!-- <div class="col-md-5"></div> -->
    <div class="col-md-4">

      <div class="card mb-4 shadow-sm">
        <div class="card-body">

          <form action="/accounts/login/" method="post" style="color:black">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-sm" style="background-color: #e74c3c;color: white;" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

          {% if form.errors %}
          <p> Password or Username is incorrect </p>
          {% endif %}
          <p style="font-family: 'Times New Roman', Times, serif;">Don't have an account? <a id="sign" href="/accounts/register/">Register</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- empty div -->
  <div class="col-md-4"></div>
</div>


{% endblock %}