{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Profile</title>
  {{form.media}}

  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

</head>

<body style="background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('https://res.cloudinary.com/zilfa/image/upload/v1600501637/oo_nyungwe_house_landscape_sunrise_mist_at_nyungwe_forest_28_9_2017_LR_1020x525_acf_cropped_wybh45.jpg');background-size: cover; height: 100vh; background-position: center center;">
  <div class="container" style="margin-top:5%">
    <h3 class="text-center" style="margin-top: 8%; margin-bottom: 3%;color: grey;font-family: 'Times New Roman', Times, serif;color: white;">Add Profile</h3>
    <div class="row">

      
      <!-- Empty div -->
      <div class="col-md-4"></div>
      <div class="col-md-4">

        <div class="card mb-4 shadow-sm">
          <div class="card-body">

            <form action="{%url 'edit' %}" method="post" enctype="multipart/form-data">
              {%csrf_token%}
              {% bootstrap_form form%}
              <input type="submit" class="btn btn-lg" style="background-color: #e74c3c;color: white;" value="Submit">
            </form>

            {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            {% bootstrap_javascript %} {% endblock %}
          </div>
        </div>
      </div>
    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</body>

</html>