{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<div class="container" style="font-family:'Times New Roman', Times, serif;margin-top: 3%;">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4 shadow-sm">
                {% for image in ones_photo %}
                    <img src="{{image.photo_image.url}}" width="100%">

                <div class="card-body">

                    <span style="font-weight: bold;font-size: 20px;color: rgb(77, 74, 74);">{{image.title}}</span>

                            <span style="float: right;"><a  href="{% url 'like' image.id%}" style="color: black;" >
                                <i class="far fa-heart fa-lg"></i> {{image.likes}}
                            </a>&nbsp;&nbsp;<a style="color: black;" href="{%url 'comment' image.id%}"><i class="far fa-comment fa-lg"></i> {{image.comments_set.all.count}}</a></span>
            
                    <br>
                    <br>

                    <p style="font-size: 15px;">{{image.description}}</p>

                    <p> <a href="{% url 'view' image.id%}"
                            style="font-weight: bold;font-size: 15px;color: rgba(0, 0, 0, 0.459);font-family: 'Times New Roman', Times, serif;margin-top: 3px;"><i>
                                View all comment{{image.comments_set.all.count|pluralize}}</i></a></p>

                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>



{% endblock %}