{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Comment</title>
  {{form.media}}

  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <script src="https://kit.fontawesome.com/83d474e45f.js" crossorigin="anonymous"></script>
  {% endblock %}

  
</head>
{% include "navbar.html" %}

<body style="background-color: rgba(128, 128, 128, 0.075);">
  <h1 class="text-center" style="text-align:center; margin-top: -2cm;font-family: 'Times New Roman', Times, serif;margin-bottom: 3%;color: grey;">Review this Project</h1>
  <div class="container">

    <div class="row">
      <!-- Empty div -->
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <div class="card mb-4 shadow-sm">
          <div class="card-body">

            <form action="{%url 'comment' proj_id%}" method="post" enctype="multipart/form-data">
              {%csrf_token%}

              {% bootstrap_form form%}
              <input type="submit" class="btn btn-success btn-lg" value="Post">
            </form>

            {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            {% bootstrap_javascript %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>