{%extends 'base.html'%}
{% block content %}

<div class="container" style="font-family:'Times New Roman', Times, serif;margin-top: 3%;">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
      {% if photo %}


      <h5 class="text-center">Found {{ photo|length }} photo{{ users | pluralize }}</strong></h2>
        {% else %}

        <h5 class="text-center"> Found {{ photo|length }} photo</strong></h5>
      
        <a class="d-block mx-auto" href="{%url 'index'%}">
          <button class="btn btn-outline-danger btn-sm  d-block mx-auto">Back Home</button>
        </a>
        {% endif %}
      <hr>

        {% if photo %}
        {% for userpro in photo %}
        <div class="col-md-3"></div>

        <div class="card mb-4 shadow-sm">
          <a href="{% url 'onephoto' userpro.id %}">
            <img src="{{userpro.photo_image.url}}" width="100%"></a>

          <div class="card-body">

            <span style="font-weight: bold;color: grey;margin-left: 2%;">{{userpro.title}}</span>
          </div>
        </div>

        {% endfor %}

        {% endif %}
    </div>
  </div>
</div>
{% endblock %}